*{
    margin: 0;
    padding: 0;
    box-sizing: 0;

}
a{
    text-decoration: none;

}

main{

    display: flex;
    flex-direction: row;
    gap: 60px;
}
ul{
    font-size: 40px;

}
h2{
    font-size: 40px;
}